* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  overflow-x: hidden;
}

/* NAVBAR */
.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background: #fffaf3;
  z-index: 1000;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
  position: fixed;
  outline: 2px solid #eeeae4;
}

#navbar-logo {
  color: #050301;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
}

.navbar__menu {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0 auto;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #050301;
  text-decoration: none;
  height: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.2s ease;
}

.navbar__item:hover {
  transform: translateY(-1px);
  text-shadow: 2px 2px #dcdcdc;
}

body {
  background-color: #fffaf3;
}

/* HERO */
.hero__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0 auto;
  height: 90vh;
  width: 100%;
  padding: 0 50px;
  max-width: 1300px;
}

.hero__content {
  color: #050301;
}

.hero__content h1 {
  font-size: 4rem;
}

.hero__content p {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.hero__btn {
  font-size: 1rem;
  background: #050301;
  padding: 14px 32px;
  border: none;
  border-radius: 7px;
  color: #fffaf3;
  margin-top: 2rem;
  cursor: pointer;
  outline: none;
  transition: all 0.18s ease;
}

.hero__btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hero__image {
  text-align: center;
}

#hero1-image {
  width: 100%;
  height: 100%;
}
